<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SmokeSuite">
    <listeners>
        <listener class-name="logging.CustomListener"/>
    </listeners>

    <test name="SmokeTests" verbose="2">
        <classes>
            <class name="startPage.APIDemoStartPageTest">
                <methods>
                    <include name="clickOnStartPageButtons"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>